In [1]:
x= 4
y= 2
print(x)
name = "mostafa"
age = 23
is_student = True
score= 95.5524534636346
print(name,age,is_student,score)
print(f"Name: {name} \nAge: {age} \nStudent: {is_student} \nScore: {score:.3f}")

4
mostafa 23 True 95.5524534636346
Name: mostafa
Age: 23
Student: True
Score: 95.552

In [ ]:
my_list= ["apple", 2,3,10.5, True , [1,2,3]]
print(my_list[5])
print(my_list[5][1])
my_list.append("banana")
my_list.insert(2,"orange")
print(my_list)
my_list2= ["grape", "kiwi"]
my_list.append(my_list2)
print(my_list)

[1, 2, 3]
2
['apple', 2, 'orange', 3, 10.5, True, [1, 2, 3], 'banana']
['apple', 2, 'orange', 3, 10.5, True, [1, 2, 3], 'banana', ['grape', 'kiwi']]

In [ ]:
my_dict= {
    "name": "mostafa",
    "age": 23,
    "is_student": True,
    "scores": [95, 88, 76],
    "address": {
        "city": "Cairo",
        "country": "Egypt"
    }
}

print(my_dict["name"])
print(my_dict["address"]["city"])
my_dict["phone"] = "123-456-7890"
print(my_dict)

mostafa
Cairo
{'name': 'mostafa', 'age': 23, 'is_student': True, 'scores': [95, 88, 76], 'address': {'city': 'Cairo', 'country': 'Egypt'}, 'phone': '123-456-7890'}

In [ ]:
if age < 18:
    print("child")
elif age >= 18 and age < 65:
    print("adult")
else:
    print("senior")

for index in my_list:
    print(index)
# use continue and break
# range is used to generate a sequence of numbers
for i in range(5):  
    if i == 2:
        continue
    if i == 4:
        break
    print(i)

adult
apple
2
orange
3
10.5
True
[1, 2, 3]
banana
['grape', 'kiwi']
0
1
3